<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="{{ page.description | default: site.description | escape }}">
  <meta property="og:title" content="{{ page.title | escape }}">
  <meta property="og:description" content="{{ page.description | default: site.description | escape }}">
  <meta property="og:type" content="{{ page.og_type | default: 'website' }}">
  <meta property="og:url" content="{{ page.url | absolute_url }}">
  <meta property="og:locale" content="en_GB">
  <link rel="canonical" href="{{ page.url | absolute_url }}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
    rel="stylesheet">
  <link href="{{ '/styles/styles.css' | relative_url }}" rel="stylesheet">
  {% if page.styles %}
  {% for style in page.styles %}
  <link href="{{ style }}" rel="stylesheet">
  {% endfor %}
  {% endif %}
  <script src="{{ '/scripts/index.js' | relative_url }}" type="module"></script>
  <title>{{ page.title }}</title>
</head>