<div class="spacer"></div>
<nav class="main-navigation" aria-label="Main navigation">
  <ul>
    <li>
      <a href="{{ '/' | relative_url }}"{% if page.page_id == 'about' %} aria-current="page"{% endif %}>
        About me
      </a>
    </li>
    <li>
      <a href="{{ '/writing.html' | relative_url }}"{% if page.page_id == 'writing' %} aria-current="page"{% endif %}>
        Writing
      </a>
    </li>
    <li>
      <a href="{{ '/resume.html' | relative_url }}"{% if page.page_id == 'resume' %} aria-current="page"{% endif %}>
        Résumé
      </a>
    </li>
  </ul>
</nav>
